<link href="./../stylesheet.css" rel="stylesheet">
<div class="submit">
  <form action="/links" method="get">
    <input type="submit" value="show all links">
  </form>
  <form action="/links/new" method="get">
    <input type="submit" value="add new link">
  </form>
  <form action="/links/tags" method="get">
    <input name="tag_searched" placeholder="insert tag" type="search">
    <input type="submit" value="search">
  </form>
</div>
<h2>
  Links
</h2>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title:
    <%= link.title %><br>
    URL:
    <a href="<%=link.url%>" target="_blank"><%=link.url%></a><br>
    Tags: <% link.tags.each do |tag| %>
        <%= tag.name %>
        <% end %>
  </li>
  <% end %>
</ul>
