<link rel="stylesheet" href="./../stylesheet.css">
<form action="/user" method='post'>
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="password" name="confirmation_password">
  <input type="submit"  value="sign in">
</form>
