<link rel="stylesheet" href="./../stylesheet.css">
<form action="/user" method='post'>
  <input type="text" name="name" placeholder="name"><br>
  <br>
  <input type="text" name="email" placeholder="email"><br>
  <br>
  <input type="password" name="password" placeholder="password"><br>
  <br>
  <input type="password" name="confirmation_password" placeholder="confirmation password"><br>
  <br>
  <input type="submit"  value="sign in">
</form>
