<html>
<head>
  <title> Save your links </title>
</head>
<body>
  <h1><% if current_user %>
      Welcome, <%= current_user.name %>
    <% end %></h1>
  <h1>Save your links</h1>
  <%=yield%>
  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>
</body>
</html>
